{% extends 'layouts/app.html' %}

{% block content %}

<div class="card">
    <div class="card-header">Login</div>

    <div class="card-body">
        <form method="POST" action="">
            {% csrf_token %}

            {{ form.as_p }}

            <div class="form-group row">
                <label for="email" class="col-sm-4 col-form-label text-md-right">E-Mail Address</label>

                <div class="col-md-6">
                    <input id="email" type="email" class="form-control" name="email" value="" required autofocus placeholder="E-Mail Address">

                    <span class="invalid-feedback" role="alert">
                        <strong></strong>
                    </span>
                </div>
            </div>

            <div class="form-group row">
                <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>

                <div class="col-md-6">
                    <input id="password" type="password" class="form-control" name="password" required  placeholder="Password">

                    <span class="invalid-feedback" role="alert">
                        <strong></strong>
                    </span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6 offset-md-4">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="remember" name="remember">
                        <label class="custom-control-label" for="remember">
                            Remember Me
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-8 offset-md-4">
                    <button id="login" type="submit" class="btn btn-primary">
                        Login
                    </button>

                    <a class="btn btn-link" href="">
                        Forgot Your Password?
                    </a>
                </div>
            </div>

            <div class="form-group row mb-0">
                <div class="offset-sm-2 col-sm-8">
                    <p class="fancy"><span>OR</span></p>
                </div>
            </div>

        </form>
    </div>
</div>
{% endblock %}